
table {
    margin: 20px;
    margin-top: 0;
    border-collapse: collapse;
}

th{
    text-align: center;
    padding: 6px;
    border: 1px solid #ccc;
}

td{
    padding: 6px;
    border: 1px solid #ccc;
}


th {
    background: #9EA1A9;
    color: #FFFFFF;
    font-weight: bold;
}

tr:hover {background-color: #f5f5f5;}
thead {
    margin: 0 auto;
}