table {
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  overflow: auto;
  table-layout: fixed;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

mat-cell {
  display: flex;
  overflow: auto;
}


.fileName {
  width: 200px;
}

