<table mat-table [dataSource]="filesList" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell class="id" *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell class="id" *matCellDef="let i = index">
      <p class="text-truncate">{{i +1}}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fileName">
    <mat-header-cell class="fileName" *matHeaderCellDef>File Name</mat-header-cell>
    <mat-cell class="fileName" *matCellDef="let file">
      <p class="text-truncate">{{file.fileName}}</p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="size">
    <mat-header-cell class="fileSize" *matHeaderCellDef>Size</mat-header-cell>
    <mat-cell class="fileSize" *matCellDef="let file">
      <p class="text-truncate">{{file.fileSize}}</p>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

  <mat-row *matRowDef="let file; columns: displayedColumns;"
            matRipple>
  </mat-row>
</table>

